@charset "UTF-8";
body {
    margin: 0;
    background-image: url(../pic/test.jpg);
    /*background-color: rgba(255, 0, 0, 0.5);*/
    background-blend-mode: multiply;
    overflow: hidden;
}

.mini-window {
    position: absolute;
    width: 800px;
    height: 400px;
    background: rgb(39, 163, 208);
    border: 2px solid #555;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    cursor: move;
    top: 50px;
    left: 50px;
}

.box {
    position: fixed;
    height: 50px;
    background-color: aliceblue;
}

.terminal {
    margin-top: 10px;
    margin: 10px;
}

.icon {
    margin: 25px;
}

.icon_d {
    width: 48px;
}
