@charset "UTF-8";

body {
    background-color: #393939;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 0;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 4px;
    border-right: 4px solid transparent; /* 透明なボーダーをつける */
    border-left: 4px solid transparent; /* 透明なボーダーをつける */
    background-clip: padding-box; /* 背景を切り取る */
}

.scrollBtns {
    position: fixed;
    top: 75%;
    left: 92.5%;
}

 .scrollBtns a {
    display: block;         /* ブロック化(全体をクリック可能にするため) */
    color: white;           /* 文字色：白色 */
    border-radius: 12px;    /* 角を丸くする：半径12ピクセルで */
    opacity: 0.4;           /* 半透明にする(＝不透明度60％／つまり背後が40％透けて見える) */
    line-height: 1;         /* 行の高さを詰める */
    text-decoration: none;  /* リンクの下線を付けない */
    text-align: center;     /* 文字をセンタリングする */    
}

.anime_arrow {
    transition: transform 1s, color 1s;
}

/* ▼マウスが載ったときの装飾変更 */
.scrollBtns :hover {
    transform: rotate(360deg);
    color: rgb(147, 147, 147);
}


/* ▼矢印記号 */
.arrow  { display:block; font-size:3em; }

h2 {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
    margin: 0;
}

.command {
    color: #ffffff;
    font-weight: bold;
}

.section {
    margin-bottom: 20px;
    font-size: 15px;
}

.maruyon {

    font-size: 16px;
    font-weight: bold;
    color: darkgoldenrod;
}

.all_in {
    color: aquamarine;
}